In [32]:
import pandas as pd

In [ ]:
import warnings
warnings.filterwarnings()

In [ ]:
data=pd.read_excel(r'ML Live Flight Fare Resourses16963295320.xlsx')

In [4]:
data.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662

In [8]:
data["Additional_Info"].value_counts()

Additional_Info
No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: count, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [10]:
data.isnull().any()

Airline            False
Date_of_Journey    False
Source             False
Destination        False
Route               True
Dep_Time           False
Arrival_Time       False
Duration           False
Total_Stops         True
Additional_Info    False
Price              False
dtype: bool

In [15]:
data[data["Total_Stops"].isnull()].index

Index([9039], dtype='int64')

In [16]:
data.drop(data[data["Total_Stops"].isnull()].index,inplace=True)

In [21]:
data.drop(["Additional_Info","Route"],axis=1,inplace=True)

In [23]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302

In [35]:
data["j_day"]=pd.to_datetime(data["Date_of_Journey"]).dt.day
data["j_month"]=pd.to_datetime(data["Date_of_Journey"]).dt.month

In [33]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_day,j_month
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897,24,3
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,1,3

In [38]:
data["d_hr"]=pd.to_datetime(data["Dep_Time"]).dt.hour
data["d_min"]=pd.to_datetime(data["Dep_Time"]).dt.minute
data["arr_hr"]=pd.to_datetime(data["Arrival_Time"]).dt.hour
data["arr_min"]=pd.to_datetime(data["Arrival_Time"]).dt.minute

In [39]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_day,j_month,d_hr,d_min,arr_hr,arr_min
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897,24,3,22,20,1,10
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,1,5,5,50,13,15
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882,9,6,9,25,4,25
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,12,5,18,5,23,30
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,1,3,16,50,21,35

In [40]:
lis=data["Duration"]

In [47]:
new_lis=[]
for i in lis:
    if len(i.split(" "))==1:
        if "m" in i:
            i="0h "+i
        elif "h" in i:
            i=i+" 0m"
    new_lis.append(i)

In [49]:
data["Duration"]=new_lis

In [65]:
data["D_hr"]=data["Duration"].str.split("h").str[0].astype(int)

In [70]:
data["D_min"]=data["Duration"].str.split("h").str[-1].replace("m","",regex=True).astype(int)

In [72]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,j_day,j_month,d_hr,d_min,arr_hr,arr_min,D_hr,D_min
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897,24,3,22,20,1,10,2,50
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,1,5,5,50,13,15,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h 0m,2 stops,13882,9,6,9,25,4,25,19,0
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,12,5,18,5,23,30,5,25
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,1,3,16,50,21,35,4,45

In [73]:
data.drop(["Date_of_Journey","Dep_Time","Arrival_Time","Duration"],axis=1,inplace=True)

In [75]:
data["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [78]:
data["Total_Stops"].replace(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],[0,2,1,3,4],inplace=True)

In [79]:
data.head()

,Airline,Source,Destination,Total_Stops,Price,j_day,j_month,d_hr,d_min,arr_hr,arr_min,D_hr,D_min
0,IndiGo,Banglore,New Delhi,0,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,2,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,1,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1,13302,1,3,16,50,21,35,4,45

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Airline      10682 non-null  object
 1   Source       10682 non-null  object
 2   Destination  10682 non-null  object
 3   Total_Stops  10682 non-null  int64
 4   Price        10682 non-null  int64
 5   j_day        10682 non-null  int32
 6   j_month      10682 non-null  int32
 7   d_hr         10682 non-null  int32
 8   d_min        10682 non-null  int32
 9   arr_hr       10682 non-null  int32
 10  arr_min      10682 non-null  int32
 11  D_hr         10682 non-null  int32
 12  D_min        10682 non-null  int32
dtypes: int32(8), int64(2), object(3)
memory usage: 1.1+ MB

In [81]:
from sklearn.preprocessing import LabelEncoder

In [82]:
enc = LabelEncoder()

In [93]:
df2=data.select_dtypes(exclude="object")
df1=data.select_dtypes(include="object").apply(enc.fit_transform)

In [95]:
data=pd.concat([df2,df1],axis=1)

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Total_Stops  10682 non-null  int64
 1   Price        10682 non-null  int64
 2   j_day        10682 non-null  int32
 3   j_month      10682 non-null  int32
 4   d_hr         10682 non-null  int32
 5   d_min        10682 non-null  int32
 6   arr_hr       10682 non-null  int32
 7   arr_min      10682 non-null  int32
 8   D_hr         10682 non-null  int32
 9   D_min        10682 non-null  int32
 10  Airline      10682 non-null  int32
 11  Source       10682 non-null  int32
 12  Destination  10682 non-null  int32
dtypes: int32(11), int64(2)
memory usage: 967.4 KB

In [100]:
data.to_csv(r"ml_cleaning.csv",index=False)

In [ ]:
data=pd.read_csv(r"ml_cleaning.csv")

In [ ]:
data

In [8]:
x=data.drop("Price",axis=1)
y=data["Price"]

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [11]:
model=LinearRegression()

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8,random_state=10)

In [22]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [23]:
model.score(x_train,y_train)

0.960887892244654

In [24]:
model.score(x_test,y_test)

0.7666091083062929

In [36]:
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor

In [37]:
lis=[SVR,DecisionTreeRegressor,KNeighborsRegressor,RandomForestRegressor]

In [27]:
for i in lis:
    model=i()
    model.fit(x_train,y_train)
    print(i)
    print(model.score(x_train,y_train))
    print(model.score(x_test,y_test))

<class 'sklearn.svm._classes.SVR'>
-0.018799832727823595
-0.01146422120264301
<class 'sklearn.tree._classes.DecisionTreeRegressor'>
0.9943489955941879
0.6021371395898484
<class 'sklearn.neighbors._regression.KNeighborsRegressor'>
0.6427812475603583
0.434233586738736
<class 'sklearn.ensemble._forest.RandomForestRegressor'>
0.9622996560032361
0.7698472711143001

In [38]:
from sklearn.model_selection import cross_val_score,KFold

In [43]:
kf=KFold(n_splits=5)

In [ ]:
for i in lis:
    kf=KFold(n_splits=5)
    print(i)
    print(cross_val_score(i(),x,y,cv=kf).mean())

<class 'sklearn.svm._classes.SVR'>

In [49]:
model=RandomForestRegressor()
model.fit(x,y)
print(model.score(x_train,y_train))
print(model.score(x_test,y_test))

0.9515652289629924
0.9482361427843344

In [41]:
from sklearn.model_selection import RandomizedSearchCV

In [50]:
param={"random_state":[10,20,30,40],"n_estimators":[100,200,300,400],"max_depth":[3,4,5,6]}

In [51]:
grid=RandomizedSearchCV(RandomForestRegressor(),param_distributions=param,n_iter=5,n_jobs=1,cv=kf,verbose=2)

In [52]:
grid.fit(x,y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits
[CV] END .....max_depth=4, n_estimators=200, random_state=30; total time=   1.9s
[CV] END .....max_depth=4, n_estimators=200, random_state=30; total time=   2.7s
[CV] END .....max_depth=4, n_estimators=200, random_state=30; total time=   1.4s
[CV] END .....max_depth=4, n_estimators=200, random_state=30; total time=   2.6s
[CV] END .....max_depth=4, n_estimators=200, random_state=30; total time=   3.0s
[CV] END .....max_depth=3, n_estimators=200, random_state=10; total time=   2.5s
[CV] END .....max_depth=3, n_estimators=200, random_state=10; total time=   2.4s
[CV] END .....max_depth=3, n_estimators=200, random_state=10; total time=   2.4s
[CV] END .....max_depth=3, n_estimators=200, random_state=10; total time=   2.4s
[CV] END .....max_depth=3, n_estimators=200, random_state=10; total time=   2.5s
[CV] END .....max_depth=6, n_estimators=400, random_state=10; total time=   8.7s
[CV] END .....max_depth=6, n_estimators=400, random_state=10; total time=   9.2s
[CV] END .....max_depth=6, n_estimators=400, random_state=10; total time=   8.8s
[CV] END .....max_depth=6, n_estimators=400, random_state=10; total time=   8.8s
[CV] END .....max_depth=6, n_estimators=400, random_state=10; total time=   8.8s
[CV] END .....max_depth=3, n_estimators=400, random_state=30; total time=   5.1s
[CV] END .....max_depth=3, n_estimators=400, random_state=30; total time=   5.1s
[CV] END .....max_depth=3, n_estimators=400, random_state=30; total time=   5.1s
[CV] END .....max_depth=3, n_estimators=400, random_state=30; total time=   5.1s
[CV] END .....max_depth=3, n_estimators=400, random_state=30; total time=   5.3s
[CV] END .....max_depth=5, n_estimators=300, random_state=30; total time=   6.3s
[CV] END .....max_depth=5, n_estimators=300, random_state=30; total time=   6.8s
[CV] END .....max_depth=5, n_estimators=300, random_state=30; total time=   7.0s
[CV] END .....max_depth=5, n_estimators=300, random_state=30; total time=   5.7s
[CV] END .....max_depth=5, n_estimators=300, random_state=30; total time=   5.6s

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
                   estimator=RandomForestRegressor(), n_iter=5, n_jobs=1,
                   param_distributions={'max_depth': [3, 4, 5, 6],
                                        'n_estimators': [100, 200, 300, 400],
                                        'random_state': [10, 20, 30, 40]},
                   verbose=2)

In [53]:
grid.best_estimator_

RandomForestRegressor(max_depth=6, n_estimators=400, random_state=10)

In [54]:
model=RandomForestRegressor(max_depth=6, n_estimators=400, random_state=10)
model.fit(x,y)
print(model.score(x_train,y_train))
print(model.score(x_test,y_test))

0.7649084179167382
0.7534341339862749

In [55]:
import joblib

In [62]:
joblib.dump(model,r"ml.pkl")

['C:\\Softwares\\Data Science\\Data analyst\\finger tips material\\session\\ML\\9 ML Live Flight Fare\\resource\\ml.pkl']

In [64]:
model1=joblib.load(r"ml.pkl")

In [66]:
model1.predict(x)

array([ 5298.90073048, 11301.49596803, 13141.02929075, ...,
        6215.909424  , 16835.75700125, 11830.80293023])

In [67]:
model1.score(x_train,y_train)

0.7649084179167382